#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.table td,
.table th {
    padding: 1rem;
}

/* Optional: Customize the selected row color */
.table-primary {
    background-color: #d0e7ff;
}

/* Optional: Highlight table headers */
.table thead th {
    font-weight: bold;
    background-color: #f8f9fa;
}

/* Optional: Style badges */
.badge {
    font-size: 0.9rem;
    padding: 0.5em 0.75em;
    border-radius: 0.5rem;
}

.login {
    width: 400px;
    margin: 0 auto;
}
